# Virtual environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/

# Testing & coverage
.pytest_cache/
.coverage
htmlcov/
coverage.xml
*.cover

# Linting
.pylint.d/

# macOS
.DS_Store

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/

# Docker
*.log
